@font-face {
  font-family: "Clash Grotesk";
  src: url("../../../assets/fonts/ClashGrotesk-Variable.ttf");
}

body {
  font-family: "Clash Grotesk";
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background-image {
  background-color: white;
  background-size: cover;
}

#homepage {
  background: radial-gradient(54.89% 43.59% at 71.42% 79.54%, #D1DFF9 0%, #FEFDFC 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.weather-main {
  display: grid;
  grid-gap: 1rem;
  width: 90vw;
  backdrop-filter: blur(2.5px);
}

h1 {
  color: var(--color-primary);
  text-align: center;
  font-family: "Clash Grotesk";
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  line-height: 0.8;
}

h2 {
  color: var(--color-primary);
  text-align: center;
  font-family: "Clash Grotesk";
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  line-height: 0.8;
}

h3 {
  margin: 0;
}

h4 {
  color: var(--color-primary);
  font-family: "Clash Grotesk";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  line-height: 0.8;
}

p {
  color: var(--color-primary);
  text-align: center;
  font-family: "Clash Grotesk";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  line-height: 0.8;
}

#home-main {
  display: flex;
  justify-content: center;
}

#hello {
  color: #000;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
}

#home-main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;

}

#home-menu {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

#home-menu > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 18.4rem;
  border-radius: 1.84rem;
  opacity: 0.48;
  background: linear-gradient(177deg, rgba(217, 217, 217, 0.40) 1.08%, rgba(255, 255, 255, 0.00) 98.68%);
  box-shadow: 0px 5px 30px -1.2px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(24.5px);
}

.menu-text {
  color: #000;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  text-decoration-line: none;
}

@media (min-width: 1024px) {
  .weather-main {
    width: 100vw;
  }
  h1 {
    color: var(--color-primary);
    font-family: "Clash Grotesk";
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 300;
    width: fit-content;
  }
  h2 {
    font-size: 4.6875rem;
  }
  p {
    font-size: 1rem;
  }
}
