@font-face {
    font-family: "Clash Grotesk";
    src: url("../../../assets/fonts/ClashGrotesk-Variable.ttf");
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 2rem;
}

footer > div {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.foot-text {
    color: #000;
    text-align: center;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration-line: none;
}

@media (min-width: 1024px) {
    footer > div {
        width: 60%;
    }
}