@font-face {
    font-family: "Clash Grotesk";
    src: url("../../../assets/fonts/ClashGrotesk-Variable.ttf");
}

header {
    padding-top: 2rem;
}

#logo {
    color: #000;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration-line: none;

    display: inline-block;
    transition: letter-spacing 0.3s ease-in-out;
}

#logo:hover {
    letter-spacing: .1rem;
}