.main-container {
  border-radius: 1.83581rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4.896px 29.373px -1.224px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(25px);
  display: flex;
}

.city-selection-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding: 2.5rem 0;
}

.current-weather {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.current-weather div {
  gap: 0.9rem;
  align-items: center;
}

.daily-forecast {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.daily-forecast h3 {
  display: none;
}

.daily-forecast-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.daily-forecast-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: fit-content;
}

.hourly-icon,
.forecast-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.daily-forecast-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

.daily-forecast-text p {
  margin: 0;
  text-align: left;
}

.secondary-container {
  display: none;
}

.hourly-forecast {
  display: flex;
  padding: 0;
  margin: 0;
  width: 85%;
  justify-content: space-around;
}

.hourly-forecast-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.hourly-forecast-item img {
  width: 2rem;
  height: 2rem;
}

.hourly-time {
  color: var(--color-primary);
  text-align: center;
  font-family: "Clash Grotesk";
  font-size: 1rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.hourly-temperature {
  color: var(--color-primary);
  text-align: center;
  font-family: "Clash Grotesk";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (min-width: 1024px) {
  .weather-main {
    grid-template-columns: repeat(10, 1fr);
  }
  .main-container {
    grid-column: 2 / span 8;
  }
  .city-selection-container {
    width: 25%;
    border-radius: 1.83581rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .city-selection-container > .hourly-forecast {
    display: none;
  }
  .secondary-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%;
    padding: 2.5rem 1.75rem;
    justify-content: end;
  }

  .secondary-container h1 {
    text-align: left;
  }
  .current-weather h1 {
    display: none;
  }
  .current-weather div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  .hourly-forecast {
    display: flex;
    gap: 3rem;
    justify-content: normal;
  }
  .daily-forecast h3 {
    display: block;
    color: var(--color-primary);
    font-family: "Clash Grotesk";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .daily-forecast-list {
    gap: 1rem;
    align-items: start;
  }
  .daily-forecast-list > :nth-child(n + 5) {
    display: flex;
  }
}
